<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no Meetup {{ meetup }}<br />
Que ocorrerá {{ date }}<br />
Os dados do inscrito estão abaixo:
</p>
<p>
  <strong>Nome: </strong> {{ userName }} <br />
  <strong>E-mail: </strong> {{ userEmail }} <br />
  <br />
  Att,
</p>
